{{#cardstack-tools}}
<div class="container">
  <div class="menu">
    <a href={{cardstack-url "page" " "}} >
      <h1>
        <em>StupdendousRentals</em>
      </h1>
    </a>
    <div class="links">
      <a href={{cardstack-url "page" "about"}} >
        About
      </a>
      <a href={{cardstack-url "page" "contact"}} >
        Contact
      </a>
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
{{/cardstack-tools}}